distribution.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "revenuecat",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "6f99133a-1d1e-4618-a853-b1d20316c328",
      "name": "Webhook",
      "webhookId": "c5dab7ff-759d-4dc2-a94b-b31e1743fae2"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "projectId": "finia-a1ae2",
        "collection": "users",
        "documentId": "={{ $json.event.app_user_id }}"
      },
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1.1,
      "position": [
        208,
        0
      ],
      "id": "ce645e97-a45d-4b50-a259-8cc090443bae",
      "name": "Get a document",
      "credentials": {
        "googleApi": {
          "id": "dzLdDcMDi5gQKH7G",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "i8Hs2Bx2oYsDvZLN",
          "mode": "list",
          "cachedResultName": "CRM_Maestro_Usuarios",
          "cachedResultUrl": "/projects/fgNLOtmqWAIi2ySJ/datatables/i8Hs2Bx2oYsDvZLN"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "userID",
              "keyValue": "={{ $json.uid }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "userID": "={{ $json.uid }}",
            "email": "={{ $json.email }}",
            "firstName": "={{ $json.displayName }}",
            "status_suscripcion": "ACTIVE",
            "ultimo_evento": "INITIAL_PURCHASE"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "userID",
              "displayName": "userID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "firstName",
              "displayName": "firstName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status_suscripcion",
              "displayName": "status_suscripcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "fecha_registro",
              "displayName": "fecha_registro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "bienvenida_enviada",
              "displayName": "bienvenida_enviada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "fecha_ultimo_pago",
              "displayName": "fecha_ultimo_pago",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "motivo_cancelacion",
              "displayName": "motivo_cancelacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ultimo_evento",
              "displayName": "ultimo_evento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "c1830fec-a45a-4389-bdf8-a954bc4cf951",
      "name": "Upsert row(s)"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.ultimo_evento }}",
                    "rightValue": "INITIAL_PURCHASE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ed3e79c8-15db-4de1-9656-64cc311fbdaf"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7ed6924a-3370-446c-8280-af337b83a0a5",
                    "leftValue": "={{ $json.ultimo_evento }}",
                    "rightValue": "CANCELLATION",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "223b3d89-fd8e-4fd6-b6cc-d57e6e61aa57",
                    "leftValue": "={{ $json.ultimo_evento }}",
                    "rightValue": "BILLING_ISSUE",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b56cf83c-7ca3-443f-a724-6083344cc713",
                    "leftValue": "={{ $json.ultimo_evento }}",
                    "rightValue": "RENEWAL",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6e843884-d7b7-4d41-8e30-9ebd655b900a",
                    "leftValue": "={{ $json.ultimo_evento }}",
                    "rightValue": "UNCANCELLATION",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8d438eb6-602e-4582-b005-50fcc0465fc8",
                    "leftValue": "={{ $json.ultimo_evento }}",
                    "rightValue": "EXPIRATION",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        624,
        16
      ],
      "id": "f6f69d67-8ffe-4605-8a96-bb195c897a09",
      "name": "Switch"
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        848,
        -272
      ],
      "id": "ee8fa543-5dc8-4297-98b8-9fc50f76ef46",
      "name": "10 min",
      "webhookId": "0997a81f-48cf-411a-81eb-add7e0e9080d"
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "hours"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        848,
        -112
      ],
      "id": "81e28d68-ef75-4eff-9ccb-ca33e887c876",
      "name": "3 horas",
      "webhookId": "fd0a9bd8-7997-4e13-8a27-55767e5249fe"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "hours"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        848,
        48
      ],
      "id": "23241944-04ad-47b9-bd34-778818b34b94",
      "name": "1 hora",
      "webhookId": "2e723e73-04ee-45d6-bd14-4e9300e8a25a"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7a4ca4d1-10c9-46a9-8f60-27617ef36144",
              "leftValue": "status_suscripcion",
              "rightValue": "ACTIVE",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1216,
        -112
      ],
      "id": "3ddd0128-4054-4451-a883-c28ea7f20690",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "444110dd-2783-49a8-909e-1cf677ad8678",
              "leftValue": "status_suscripcion",
              "rightValue": "ACTIVE",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1216,
        48
      ],
      "id": "2a0bd19f-0303-4d48-928d-775edd06d5ce",
      "name": "If1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0241f97a-42af-497e-9016-5c530f6aad7f",
              "leftValue": "status_suscripcion",
              "rightValue": "ACTIVE",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1216,
        -272
      ],
      "id": "c1b5e01d-8ef1-4609-989e-3755b7d471ec",
      "name": "If2"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "i8Hs2Bx2oYsDvZLN",
          "mode": "list",
          "cachedResultName": "CRM_Maestro_Usuarios",
          "cachedResultUrl": "/projects/fgNLOtmqWAIi2ySJ/datatables/i8Hs2Bx2oYsDvZLN"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "userID",
              "keyValue": "={{ $('Upsert row(s)').item.json.userID }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1056,
        -272
      ],
      "id": "5420ef4f-7d56-4742-9102-85021dad5146",
      "name": "INITIAL_PURCHASE"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "i8Hs2Bx2oYsDvZLN",
          "mode": "list",
          "cachedResultName": "CRM_Maestro_Usuarios",
          "cachedResultUrl": "/projects/fgNLOtmqWAIi2ySJ/datatables/i8Hs2Bx2oYsDvZLN"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "userID",
              "keyValue": "={{ $('Upsert row(s)').item.json.userID }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1056,
        -112
      ],
      "id": "f609f217-8cba-4632-b2f9-7ac7aa876b2d",
      "name": "CANCELLATION"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "i8Hs2Bx2oYsDvZLN",
          "mode": "list",
          "cachedResultName": "CRM_Maestro_Usuarios",
          "cachedResultUrl": "/projects/fgNLOtmqWAIi2ySJ/datatables/i8Hs2Bx2oYsDvZLN"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "userID",
              "keyValue": "={{ $('Upsert row(s)').item.json.userID }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1056,
        48
      ],
      "id": "e9acc947-3390-4468-a29d-46165f0b9e39",
      "name": "BILLING_ISSUE"
    },
    {
      "parameters": {
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"FinIA <hola@notificaciones.finiapp.cl>\",\n  \"to\": [\"{{ $json.email }}\"],\n  \"subject\": \"¡Ya eres Premium! 🚀\",\n  \"html\": \"<h1>¡Gracias {{ $json.firstName }}!</h1><p>Tu suscripción se activó correctamente.</p><p>El Motor de Recomendaciones empezará a trabajar para ti esta misma noche.</p><p>Saludos,<br>El equipo de FinIA</p>\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1424,
        -288
      ],
      "id": "edebedef-2780-41f7-bfa5-7c41550e1da1",
      "name": "Bienvenida Premium",
      "credentials": {
        "httpHeaderAuth": {
          "id": "9MA3vKcXstS0E135",
          "name": "Resend API Auth"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.resend.com/emails",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"FinIA <hola@notificaciones.finiapp.cl>\",\n  \"to\": [\"{{ $json.email }}\"],\n  \"subject\": \"¿Fue algo que dijimos? 💔\",\n  \"html\": \"<p>Hola <strong>{{ $json.firstName }}</strong>,</p><p>Vimos que cancelaste tu suscripción Premium. Nos da pena verte partir.</p><p>¿Nos ayudarías con 30 segundos para contarnos por qué? Queremos mejorar para ti.</p><p><a href='https://tuespaciodencuesta.com'>👉 Cuéntanos aquí</a></p><p>Saludos,<br>El equipo de FinIA</p>\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1424,
        -128
      ],
      "id": "98c5bb88-72a0-49d9-843d-e8895f4bb279",
      "name": "¿Por qué te vas?"
    },
    {
      "parameters": {
        "url": "https://api.resend.com/emails",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"FinIA <hola@notificaciones.finiapp.cl>\",\n  \"to\": [\"{{ $json.email }}\"],\n  \"subject\": \"Acción Requerida: Tu pago falló 💳\",\n  \"html\": \"<p>Hola <strong>{{ $json.firstName }}</strong>,</p><p>Tuvimos un problema al intentar renovar tu suscripción de FinIA.</p><p>Por favor, actualiza tu método de pago en la App Store/Play Store para no perder el acceso a tu Motor de Recomendaciones.</p><p>Saludos,<br>El equipo de FinIA</p>\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1424,
        32
      ],
      "id": "93e0ba11-6be2-471f-a80a-e2774417437f",
      "name": "Fallo de Pago"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "i8Hs2Bx2oYsDvZLN",
          "mode": "list",
          "cachedResultName": "CRM_Maestro_Usuarios",
          "cachedResultUrl": "/projects/fgNLOtmqWAIi2ySJ/datatables/i8Hs2Bx2oYsDvZLN"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "userID",
              "keyValue": "={{ $('Upsert row(s)').item.json.userID }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status_suscripcion": "ACTIVE",
            "ultimo_evento": "={{ $('Upsert row(s)').item.json.ultimo_evento }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "userID",
              "displayName": "userID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "firstName",
              "displayName": "firstName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "status_suscripcion",
              "displayName": "status_suscripcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "fecha_registro",
              "displayName": "fecha_registro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "bienvenida_enviada",
              "displayName": "bienvenida_enviada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "fecha_ultimo_pago",
              "displayName": "fecha_ultimo_pago",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "motivo_cancelacion",
              "displayName": "motivo_cancelacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ultimo_evento",
              "displayName": "ultimo_evento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        848,
        208
      ],
      "id": "b35e063a-5058-4f53-ac58-df55db387944",
      "name": "RENEWAL Y UNCANCELLATION"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "i8Hs2Bx2oYsDvZLN",
          "mode": "list",
          "cachedResultName": "CRM_Maestro_Usuarios",
          "cachedResultUrl": "/projects/fgNLOtmqWAIi2ySJ/datatables/i8Hs2Bx2oYsDvZLN"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "userID",
              "keyValue": "={{ $('Upsert row(s)').item.json.userID }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status_suscripcion": "EXPIRED",
            "ultimo_evento": "EXPIRATION"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "userID",
              "displayName": "userID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "firstName",
              "displayName": "firstName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "status_suscripcion",
              "displayName": "status_suscripcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "fecha_registro",
              "displayName": "fecha_registro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "bienvenida_enviada",
              "displayName": "bienvenida_enviada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "fecha_ultimo_pago",
              "displayName": "fecha_ultimo_pago",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "motivo_cancelacion",
              "displayName": "motivo_cancelacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ultimo_evento",
              "displayName": "ultimo_evento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        848,
        368
      ],
      "id": "2ba43557-619e-40b1-9962-6570bf513ddf",
      "name": "EXPIRATION"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document": {
      "main": [
        [
          {
            "node": "Upsert row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert row(s)": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "10 min",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "3 horas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "1 hora",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RENEWAL Y UNCANCELLATION",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RENEWAL Y UNCANCELLATION",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "EXPIRATION",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10 min": {
      "main": [
        [
          {
            "node": "INITIAL_PURCHASE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3 horas": {
      "main": [
        [
          {
            "node": "CANCELLATION",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1 hora": {
      "main": [
        [
          {
            "node": "BILLING_ISSUE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "¿Por qué te vas?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Fallo de Pago",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Bienvenida Premium",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INITIAL_PURCHASE": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CANCELLATION": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BILLING_ISSUE": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Webhook": [
      {
        "event": {
          "type": "INITIAL_PURCHASE",
          "app_user_id": "kNpTTbcUTL4TUmjIMCoh",
          "product_id": "finia_premium_monthly",
          "price": 4990,
          "currency": "CLP",
          "purchased_at_ms": 1732000000000
        },
        "api_version": "1.0"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a2b4eeb88390ef2fab041c08d7b5af69cb476ff18f24046535f7711e71eddc7b"
  }
}